@import "../styles/palette.scss"; 
#season-header {
    background-position: center;
    background-size: cover;

    background-attachment: fixed;
}
#season-header-text {
    font: 2em Play, Roboto, sans-serif;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 0 40px #330eb2, 2px 2px 5px black;
    margin-top: -12%;
}
#season-header-text h1 {
    font-size: 2.4em;
}
#season-video {
    background-color: $light_blue;
}